.slider__arrow {
    width: 5rem;
    height: 5rem;
    @include centered;

    img {
        width: 50%;
        height: 50%;
    }
}

@media (max-width: 48em) {
    .slider__arrow {
        display: none;
    }
}