.form__header {
    @include font(900, 4.4rem, 120%);
    margin-bottom: .9rem;
    max-width: 58.4rem;
}

@media (max-width: 48em) {
    .form__header {
        text-align: center;
        width: 55.4rem;
        @include font(900, 5.6rem, 120%);
        padding-bottom: .6rem;
    }
}